{% extends "base.html.twig" %}
{% block body %}
	<main>
		<h1>Hello
		</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quaerat animi dolorem deserunt doloribus dolore, laboriosam velit voluptates dolores praesentium. Quisquam, quas! Minus quae explicabo accusamus ad excepturi aliquid veniam?</p>
	</main>
{% endblock %}
