{% extends 'base.html.twig' %}
{% block title %}
	{{question.title}}
{% endblock %}
{% block body %}
	<main>
		<article class="questionDetail">
			<div class="divTitreQuestion">
				<h1 class="titleQuestionDetail">{{ question.title}}
					<span class="spanQuestion">Question</span>
				</h1>
				<img class="imageProfileAuthor" src="https://randomuser.me/api/portraits/women/85.jpg" alt="photographie de l'auteur de la question">
			</div>
			<p>{{question.content }}</p>
		</article>
	</main>
{% endblock %}
