{# Affichage des messages flash #}
<ul class="listMessage">
	{% for typeOfMessage,message in app.flashes(["success","error"]) %}
		{% for flashMessage in message %}
			<li class="flash-{{typeOfMessage}}">{{flashMessage}}</li>
		{% endfor %}
	{% endfor %}
</ul>
<footer>
	<p>copyright © 2024</p>
</footer>
