<header>
	<a href="{{path("home")}}"><img src="{{ asset("icons/logo.png")}}" alt="logo" id="logo"></a>
	<form action="" class="formSearch">
		<input type="search" name="q">
		<input type="submit" id="searchButton" value="">
	</form>
	<div>
		<a href="{{path("inscription")}}">
			<button id="headerButtonInscription">Inscription</button>
		</a>
		<a href="{{path("login")}}">
			<button id="headerButtonConnexion">Connexion</button>
		</a>
	</div>
</header>
