<header>
	<img src="{{ asset("./icons/favicon.png")}}" alt="logo" id="logo">
	<form action="" class="formSearch">
		<input type="search" name="q">
		<input type="submit" id="searchButton" value="">
	</form>
	<button>Connexion/inscription</button>
</header>
