<section>
	{% if user == app.user %}
		<h2>Mes questions</h2>

	{% else %}
		<h2>Questions</h2>
	{% endif %}
	<article>
		{% for question in user.questions %}
			<a href="{{path('question_detail',{ id: question.id})}}" title="">
				<h3>{{ question.title }}</h3>
			</a>
		{% endfor %}
	</article>
</section>

<section>
	{% if user == app.user %}
		<h2>Mes réponses</h2>

	{% else %}
		<h2>Réponses</h2>
	{% endif %}

	<article>
		{% for comment in user.comments %}
			<a href="{{path('question_detail',{ id: comment.question.id})}}" title="">
				<h3>{{ comment.content | slice(0,20) }}....</h3>
			</a>
		{% endfor %}
	</article>
</section>
