{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!
{% endblock %}

{% block body %}
	<main>
		{% if comments %}
			<ul>
				{% for comment in comments %}
					<li>
						<article>
							<h2>{{comment.question.title}}</h2>
							<p>{{comment.content}}</p>
						</article>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Vous n'avez pas commenté de question pour le moment
			</p>
		{% endif %}
	</main>
{% endblock %}
