/* Les variables */
:root {
    --couleurPrimaire: rgb(60, 189, 187);
    --couleurPrimaire-light: white;
    --warningColor: red;
    --successColor: green;
    --policeDeCaracteres: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --box-shadow: 20px 8px 24px rgba(137, 137, 126, 0.2);
    --border: 1px solid var(--color);
    --border-radius: 10px;
    --color: #636466;
    --color-dark: #444;
    --footer-background: #2980b9;
}

/* Initiliation des valeurs par défaut du site */
html {
    font-size: 16px;
    font-style: var(--policeDeCaracteres);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:black;
}

/* Stylisation de la mise en globale en mobile first*/
body {
    background-color: var(--couleurPrimaire-light);
    font-family: var(--policeDeCaracteres);
    color: var(--color);
    margin: 2rem auto 1rem auto;
    display: grid;
    grid-template-columns: 200px minmax(300px, 300px) 1fr 200px;
    grid-template-rows: 100px 20px 4fr 40px 100px;
    grid-template-areas: "header header header header"
        ". . . ."
        ". aside main ."
        ".errors errors."
        /* Les points représentent des espaces vides */
        "footer footer footer footer"
    ;
    height: 100vh;
}
 

/* Stylisation des titres */
h1,
h2,
h3,
h4,
h5 {
    color: var(--color-dark);
}

.titleHomePage {
    margin: 2rem 1rem;
    padding: 1rem;
}


ul {
    list-style: none;
}

/* padding */

/* Input search */
input[type="search"] {
    background-color: orange;
}



input {
    height: 35px;
}

#searchButton {
    background-image: url("../icons/search.png");
    background-size: contain;
    width: 2rem;
    padding: 0.5rem;
}

.formSearch {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: max-content;
}

#logo {
    width: 3rem;
    height: 50px;
}


header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-area: header;
    margin: 0 12.5rem 0 12.5rem;
    box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25);
    width: 1223px;
    margin-left: 31rem;
    padding-right: -119rem;
    padding: 1rem;
}


aside {
    grid-area: aside;
    min-width: 180px;
}

main {
    grid-area: main;
    min-width: 400px;
}

h1 {
    text-align: center;
}

/* stylisation des boutons */

button {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    height: 2rem;
    padding: 1rem 1rem 1.7rem 1rem;
}

#headerButtonInscription {
    background-color: var(--couleurPrimaire);
    color: var(--couleurPrimaire-light);
}

#headerButtonConnexion {
    box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

#headerButtonInscription,
#headerButtonConnexion {
    cursor: pointer;
}

/* changer la couleur du backgroun du bouton connexion au clic */
#headerButtonConnexion:active {
    background-color: var(--couleurPrimaire);
}

#headerButtonInscription:active {
    color: var(--couleurPrimaire-light);
    background-color: var(--color-dark)
}

a {
    text-decoration: none;
}

/* Stylisation du footer */
footer {
    grid-area: footer;
    background-color: rgb(78, 110, 178);
    background-color: var(--footer-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    color: var(--couleurPrimaire-light)
}

/* Stylisation de l'aside */
#asideButtonQuestion {
    background-color: var(--couleurPrimaire);
    color: var(--couleurPrimaire-light);
    height: 3.5rem;
    min-width: 250px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
}

aside button img {
    width: 1.5rem;
    position: relative;
    top: 5px;
    right: 0.5rem;
}

aside nav {
    margin: 1rem 0 0 1rem;
}

aside li {
    margin-bottom: 0.3rem;
}


.asideNavButton {
    border: none;
    border-radius: 0;
    padding-top: 2rem;
    min-width: 16rem;
}

nav li button {
    cursor: pointer;
}

.asideNavButton:hover {
    background-color: #7fc5d6;
}

.leftbarre {
    border-left: 6px solid rgb(247, 243, 243);
}

/* Cibler au survol de la souris les boutons dans l'aside n'ayant pas d'ID  #asideButtonQuestion */

aside nav button:not(#asideButtonQuestion) {
    display: flex;
    align-items: center;
}

.navButtonActive {
    border-left: 6px solid var(--couleurPrimaire);
    max-width: 200px;
    background-color: #9fe9e9;
    border-left: 6px solid var(--couleurPrimaire);
}

.icon {
    position: relative;
    top: -2px;
}

/* Stylisation de formulaire */
.groupeInput {
    display: flex;
    flex-direction: column;
    color: black
}

#question_title {
    padding: 1.5rem 0
}

label {
    font-size: 2.5rem
}

textarea {
    resize: none;
    height: 11em;
    font-size: 1.5rem;
    border-radius: var(--border-radius);
}

.formAskQuestion * {
    margin-bottom:1rem;
}
form input {
    font-size: 1.5rem;
    text-align: center;
}

.formAskQuestion input[type="submit"] {
    margin-top: 0.5rem;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: var(--border-radius);
}

.formAskQuestion {
        max-width: 700px;
        margin: auto;
        margin-bottom: 4rem;
        padding: 2rem 2rem;
        border-radius: var(--border-radius);
        background: #FEFBF6;
        box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.formAskQuestionDivSubmit {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.ulMessageError li {
    text-align: center;
    color: red;
}

.listMessage {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    grid-area: errors;
    background: rgb(210, 197, 83);
    height: 92px;
    color:white;
    padding-top: 10px;
}

.flash-success {
    color: black;
    font-size: 20px
}

.questionDetail {
    margin-left: 0px;
    background: rgb(246, 244, 241);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
  }

 .spanQuestion {
    background: #3CBDBB;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;  
 }

 .divTitreQuestion {
    display: flex;
  justify-content: space-between;
 }

 .imageProfileAuthor {
    height: 35px;
    border-radius: 50%;
    margin-top: 1.1rem 7px 0 0;
}

.titleQuestionDetail {
    margin-top: 1.1rem;
    margin-left:1rem;
}

.paragrapheQuestionDetail {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 4rem;
    line-height: 30px;
    white-space: preserve-breaks;
    font-size: 21px;
    margin: 1.3rem 0 2rem 0;
}

#comment_content {
    width: 54.5vw;
    margin-bottom:1rem;
    margin-top: 1rem;
}

#comment_submit {
    background: var(--couleurPrimaire);
  border: none;
  color: white;
}

.nomPlusImage {
display: flex;
gap:15px
}

.nomPlusImage h3{
    color: #3CBDBB;

}

.articleCommentaire {
    margin: 10px 0 10px 0;
    background-color: rgb(247, 247, 247);    
    padding: 1.4rem;
    border-radius: 5px;
    display: flex;
  justify-content: space-between;
}

.divArticleComment {
    display: flex;
  justify-content: space-between;
  margin-bottom:1rem
}

.divArticleComment p, .divArticleComment a{
    align-content: center;
}

#comment_content {
    width: 50.8vw;
}

.articleCommentaire .votes {
position: relative;
  bottom: 0.7rem;
}


.divCommentPlusImagePlusCreatedAtPlusContent {
    flex: 1;
  margin-left: 1.5rem;

}

.votes p {
    text-align: center;
}


.negatif {
    color: red;
}

.positif {
    color: #40A2E3;
}

.votesQuestionPageDetail{
  position: relative;
  bottom: 1rem;
  margin-right: 1rem;
}

.divTitreQuestion .imageProfileAuthor {
    margin-top: 1.1rem;
}

.content {
    display: flex;
    flex-direction: column;
    min-width: 90%;
}

.votes {
    min-width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleQuestion {
    display: flex;
    padding: 40px;
    background: white;
    background: #FEFBF6;
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
    margin-bottom: 2rem;
}

.articleQuestion:active {
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
}

.mainArticleDivResponse {
    display: flex;
    justify-content: flex-end;
}

.mainArticleDivResponse p {
    margin-right: 1rem;
}

#question {
    margin: 2rem 0;
    padding: 0 0 50px;
    border-bottom: 1px solid #d9d9d9;
    cursor: pointer;
    font-size: 18px
}

.divAuthor {
    display: flex;
}


.nbreOfResponse {
    margin-left: 10px;
    align-content: center;
}

.author {
    color: rgb(37, 150, 190);
}