/* Les variables */
:root {
    --couleurPrimaire: rgb(60, 189, 187);
    --couleurPrimaire-light: white;
    --warningColor: red;
    --successColor: green;
    --policeDeCaracteres: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --border: 1px solid var(--color);
    --border-radius: 3px;
    --color: #636466;
    --color-dark: #444;
}

/* Initiliation des valeurs par défaut du site */
html {
    font-size: 16px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylisation de la mise en globale*/
body {
    background-color: var(--couleurPrimaire-light);
    font-family: var(--policeDeCaracteres);
    color: var(--color);
    margin: 1rem auto 1rem auto;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "header header header header"
        "aside main main main"
        "footer footer footer footer"
    ;
    height: 100vh;
}


/* Stylisation des titres */
h1,
h2,
h3,
h4,
h5 {
    color: var(--color-dark);
}

h1:hover {
    background-color: bisque;

}

ul {
    list-style: none;
}

/* padding */

/* Input search */
input[type="search"] {
    background-color: orange;
}



input {
    height: 35px;
}

#searchButton {
    background-image: url("../icons/search.png");
    background-size: contain;
    width: 2rem;
    padding: 0.5rem;
}

.formSearch {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: max-content;
}

#logo {
    width: 3rem;
    height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-area: header;
    margin: 0 10rem 0 10rem;
    min-width: 427px;
}


aside {
    grid-area: aside;
    background-color: yellow;
    margin-left: 10rem;
    min-width: 180px;
}

main {
    grid-area: main;
    background-color: rgb(179, 128, 170);
    margin-right: 10rem;
}

footer {
    grid-area: footer;
    background-color: rgb(78, 110, 178);
}

header button {
    height: 2rem;
    padding: 0.5rem 1rem 1.5rem 1rem;
}

/* stylisation des boutons */


#headerButtonInscription {
    background-color: var(--couleurPrimaire);
}

#headerButtonConnexion {
    box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}