<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Modification de mot de passe</title>
	</head>
	<body>
		{% apply inline_css(source('@css/styleEmail.css'))%}
		<h1>Modification de mot de passe</h1>
		<p>Une demande de modification de mot de passe nous a été adressée.</p>
		<p>Pour modifier votre mot de passe :</p>
		<a href="{{ url('user_resetPasswordByEmail',{'token': token.token})}}">
			<button>
				Modifier mon mot de passe
			</button>
		</a>
		{% endapply %}
	</body>
</html>
