<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mise à jour de profile</title>
	</head>
	<body>
		{% apply inline_css(source('@css/updateUser.css')) %}
		<h1 class="title">Mise à jour de profil</h1>
		<p>Votre profile a été mise à jour</p>
		{% endapply %}
	</body>
</html>
