<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		{% apply inline_css(source('@css/styleEmail.css'))%}
		<section>
			<h1>Bienvenu
				{{email.toName}}
			</h1>
			<p>Nous vous souhaitons la bienvenu</p>
			<a href="{ {url('login') }}">
				<button>
					Me connecter
				</button>
			</a>
		</section>
		{% endapply %}</body>
</html>
