{% extends 'base.html.twig' %}
{% block body %}
	<main>
		<h1>Je suis la question
			{{ question.id - 1}}</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus beatae mollitia illum vero quisquam sit explicabo aperiam, ipsa dicta corporis eius accusamus dignissimos dolorem, incidunt minima et sapiente perspiciatis fugiat!</p>
	</main>
{% endblock %}
