{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<style>
		h3 {
			margin-bottom: 0.5rem;
			margin-top: 1rem;
			font-weight: normal;
		}
		form button {
			position: relative;
			top: 49px;
			background: #fdd661;
			color: white;
		}

		.divButtonDelete button {
			position: relative;
			left: 900px;
			background: #ee642e;
			color: white;
		}

		.divButtonDelete a {
			cursor: pointer;
		}
	</style>
	<main>
		<section>
			<h1>La page de profil de l'utilisateur connecté
				{{app.user.firstname}}</h1>
			{{form(form)}}

				<div class="divButtonDelete">
					<a href="{{path('user_deleting',{id:app.user.id})}}" title="supprimer mon compte">
						<button>Supprimer mon compte</button>
					</a>
				</div>
			</section>

			{% include 'partials/_questionPlusComment.html.twig' with {'user': app.user} %}

		</main>
	{% endblock %}
