{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<main>
		<h1>La page de profil de l'utilisateur connecté
			{{app.user.firstname}}</h1>
	</main>
{% endblock %}
